{% extends "maker/base_modal.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'New Repo' %}{% endblock title %}


{% block rm-content %}
<div class="rm-grid--center mdl-grid">
	<div class="rm-grid--center mdl-cell mdl-cell--4-col">
		<h4 style="text-align: center">{% trans 'New Repo' %}</h4>

		<form class="rm-form mdl-grid" action="" enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{% include '../form.html' %}
			<input type="submit" value="{% trans 'Create' %}"/>
		</form>
	</div>
</div>
{% endblock rm-content %}
