{% load i18n %}
<div class="rm-grid--center mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<div class="rm-repo-info-header">
			<span class="rm-repo-info-name-container">
				<div class="rm-repo-info-name-header">{%  trans 'Name' %}</div>
				<div class="rm-repo-info-name">{{ repo.name }}</div>
			</span>
			<a href="{% url 'edit_repo' repo.id %}" class="rm-repo-info-edit">
				<button class="mdl-js-button">
					{% trans 'Edit' %}
				</button>
			</a>
		</div>

		<div class="rm-repo-info-description-header">{% trans 'Description' %}</div>
		<p class="rm-repo-info-description">{{ repo.description }}</p>
		<hr class="rm-repo-info-divider"/>

		<div class="rm-repo-info-storage-header">{% trans 'Storage' %}</div>
		{% if storage %}
		<ul class="rm-repo-info-storages">
			{% for storage in storage %}
			<li class="rm-repo-info-storages-item">
				<a href="{{ storage.get_absolute_url }}" class="mdl-list__item-primary-content">
					{% if storage.disabled %}
					<i class="material-icons mdl-list__item-icon ">cloud_off</i>
					{% else %}
					<i class="material-icons mdl-list__item-icon ">cloud</i>
					{% endif %}
					<span>{{ storage.get_name }}</span>
					<span class="mdl-list__item-sub-title">{{ storage }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>
			<b>{% trans 'Attention:' %}</b>
			{% trans 'This repository has no remote storage. Add one to get your repository published.' %}
		</p>
		{% endif %}

		<p>
			<a href="{% url 'storage_ssh_add' repo.id %}" class="rm-repo-info-storage-add-ssh">
				<button class="mdl-js-button">{% trans 'Add SSH Storage' %}</button>
			</a>
			<a href="{% url 'storage_git_add' repo.id %}" class="rm-repo-info-storage-add-git">
				<button class="mdl-js-button">{% trans 'Add Git Storage' %}</button>
			</a>
			<a href="{% url 'storage_s3_add' repo.id %}" class="rm-repo-info-storage-add-as3">
				<button class="mdl-js-button">{% trans 'Add Amazon S3 Storage' %}</button>
			</a>
		</p>
		<hr class="rm-repo-info-divider"/>

		<div class="rm-repo-info-fingerprint-header">{% trans 'Fingerprint' %}</div>
		<div class="rm-repo-info-fingerprint-container">
			<!-- TODO: Use monospace font -->
			<div class="rm-repo-info-fingerprint">{{ repo.get_fingerprint_with_spaces }}</div>
		</div>
		<hr class="rm-repo-info-divider"/>
		<div class="center">
			<a href="{% url 'delete_repo' repo.id %}" class="rm-no-underline">
				<button type="button" class="rm-button--red-border mdl-button mdl-js-button">
					{% trans 'Remove Repo' %}
				</button>
			</a>
		</div>
	</div>
</div>
