{% load i18n %}
<div class="rm-grid--center mdl-grid mdl-cell--9-col">
	{% if request.GET.search or is_paginated %}
	<div class="rm-repo-apps-header mdl-cell mdl-cell--12-col">
		<div class="rm-repo-apps-header-search">
			<a href="#" onclick="toggleSearch()" class="rm-repo-apps-header-search-icon">
				<i class="material-icons">search</i>
			</a>
			<div id="rm-repo-apps-header-search-input"
				 class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label rm-form">
				<form action="" method="get">
					<label for="id_search" class="mdl-textfield__label">
						{% trans 'Search for apps in your repository' %}
					</label>
					<input type="text" name="search" id="id_search" class="mdl-textfield__input" value="{{ request.GET.search }}">
				</form>
			</div>
		</div>
	</div>
	{% endif %}
	{% if apps %}
	<div class="rm-repo-apps-add">
		<div id="rm-dnd-holder--apks" class="rm-repo-apps-add-locally">
			<i class="rm-repo-apps-add-locally-icon">file_upload</i>
			<div class="rm-repo-apps-add-locally-title">{% trans 'Add .apk files' %}</div>
			<!-- TODO: Make this properly translatable -->
			<div class="rm-repo-apps-add-locally-description-first rm-dng-text" hidden>
				{% trans 'Drag and drop .apk files' %}
			</div>
			<form action="{% url 'apk_upload' repo.id %}" enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<div class="rm-repo-apps-add-locally-description-second">
					<span class="rm-dng-text" hidden>{% trans 'or' %}</span>
					<label for="id_file" class="rm-repo-apps-add-locally-upload-browse">
						{% trans 'browse to upload' %}
					</label>
				</div>
				<p>{{ form.file }}</p>
				<button type="submit" class="rm-button--blue mdl-js-button">
					{% trans 'Add' %}
				</button>
			</form>
		</div>
		<div id="rm-dnd-holder--apks--loading" class="rm-repo-apps-add-locally--loading" hidden>
			{% csrf_token %}
			<div class="rm-dnd-progress mdl-js-progress"></div>
			<h3 id="rm-dnd-holder--apks--loading-title" class="rm-repo-apps-add-locally--loading-title"></h3>
		</div>
		<a href="{% url 'add_app' repo.id %}" class="rm-repo-apps-add-remotely">
			<i class="rm-repo-apps-add-remotely-icon">explore</i>
			<div class="rm-repo-apps-add-remotely-title">
				{% trans 'add from repos' %}
			</div>
		</a>
	</div>
	{% for app in apps %}
		{% url 'app' repo.id app.id as url %}
		{% include "maker/widgets/app.html" with clickable=True url=url width=6 %}
	{% endfor %}
	{% else %}
	<div class="mdl-grid mdl-grid--no-spacing rm-form">
		<div id="rm-dnd-holder-2--apks"  class="rm-repo-apps-empty-add">
			<i class="rm-repo-apps-empty-add-icon">file_upload</i>
			<div class="rm-repo-apps-empty-add-title">{% trans 'Add files' %}</div>
			<!-- TODO: Make this translatable properly -->
			<div class="rm-repo-apps-empty-add-description-first rm-dng-text" hidden>
				{% trans 'Drag and drop .apk files' %}
			</div>
			<form action="{% url 'apk_upload' repo.id %}" enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<div class="rm-repo-apps-empty-add-description-second">
					<span class="rm-dng-text" hidden>{% trans 'or' %}</span>
					<label for="id_file" class="rm-repo-apps-empty-add-upload-browse">
						{% trans 'browse to upload' %}
					</label>
				</div>
				<p>{{ form.file }}</p>
				<button type="submit" class="rm-button--blue mdl-button mdl-js-button">
					{% trans 'Add' %}
				</button>
			</form>
		</div>
		<div id="rm-dnd-holder-2--apks--loading" class="rm-repo-apps-empty-add--loading" hidden>
			{% csrf_token %}
			<div class="rm-dnd-progress mdl-js-progress"></div>
			<h3 id="rm-dnd-holder-2--apks--loading-title" class="rm-repo-apps-empty-add--loading-title"></h3>
		</div>
		<div class="rm-repo-apps-empty-discover">
			<i class="rm-repo-apps-empty-discover-icon">explore</i>
			<div class="rm-repo-apps-empty-discover-title">{% trans 'Discover' %}</div>
			<div class="rm-repo-apps-empty-discover-description">{% trans 'Find things to add from other repos' %}</div>
			<a href="{% url 'add_app' repo.id %}" class="rm-repo-apps-empty-discover-add rm-no-underline">
				<button type="button" class="rm-button--blue mdl-button mdl-js-button">
					{% trans 'add from repos' %}
				</button>
			</a>
		</div>
	</div>
	{% if request.POST.search %}
	<div class="rm-no-search-results">
		{% trans 'Your search did not return any results.' %}
	</div>
	{% endif %}
	{% endif %}
</div>

<script type="text/javascript">
	var rmRepoAppsHeaderSearch = document.getElementById('id_search');
	var rmRepoAppsHeaderSearchInput = document.getElementById('rm-repo-apps-header-search-input');
	if (rmRepoAppsHeaderSearch !== null && rmRepoAppsHeaderSearch.value == '') {
		rmRepoAppsHeaderSearchInput.style.display = 'none';
	}
	function toggleSearch() {
		if (rmRepoAppsHeaderSearchInput.style.display == 'none') {
			rmRepoAppsHeaderSearchInput.style.display = 'block';
			return;
		}
		rmRepoAppsHeaderSearchInput.style.display = 'none';
	}
</script>

{% include "maker/widgets/pagination.html" %}
