{% extends "maker/app/index.html" %}
{% load i18n %}
{% load static %}
{% load sass_tags %}

{% block title %}{% blocktrans with app=app.name %}Edit {{ app }}{% endblocktrans %}{% endblock %}

{% block back-button %}<div class="mdl-layout-spacer"></div>{% endblock back-button %}


{% block top-buttons %}
<div class="mdl-layout-spacer"></div>
<form action="" enctype="multipart/form-data" method="post">
{% csrf_token %}
<a href="{% url 'delete_app' app.repo.id app.id %}" class="rm-no-underline">
	<button type="button" class="rm-button--red-border mdl-button mdl-js-button">
		{% trans 'Remove App' %}
	</button>
</a>
<!-- TODO save -->
<button type="submit" class="rm-button mdl-button mdl-js-button">
	{% trans 'Done' %}
</button>
{% endblock top-buttons %}


{% block author %}
<div class="rm-app-author">
	{% trans 'Developed by' %}
	{{ form.author_name }}
</div>
{% endblock author %}

{% block summary %}
{{ form.summary }}
{% endblock summary %}


{% block categories %}
<div id="rm-app-categories">
	{% for category in app.category.all %}
	<span id="category_{{ category.id }}" class="rm-app-category-chip">
		<span class="rm-app-category-text">{{ category.name }}</span>
		<button type="button" class="mdl-chip__action" onclick="removeCategory({{ category.id }})">
			<i class="material-icons">clear</i>
		</button>
	</span>
	{% endfor %}
	<button type="button" id="rm-app-category-add" class="rm-app-category-chip-add mdl-js-button">
		<span class="mdl-chip__action"><i class="material-icons">add</i></span>
		<span class="rm-app-category-text">{% trans 'Category' %}</span>
	</button>
	<div class="rm-app-category-menu mdl-js-menu mdl-js-ripple-effect" data-mdl-for="rm-app-category-add">
		<p>{% trans 'Choose Category' %}</p>
		{% for category in form.category.field.queryset.all %}
		<button type="button" id="add_category_{{ category.id }}" onclick="addCategory({{ category.id }})">
			{{ category.name }}
		</button>
		{% endfor %}
	</div>
</div>
<noscript class="rm-app-category-label">
	<label for="id_category">{% trans 'Choose Category' %}</label>
</noscript>
{{ form.category }}
{% endblock categories %}


{% block screenshot-drop %}
<div id="rm-dnd-holder--screenshots"  class="rm-app-screenshot-drop rm-form">
	<i class="rm-repo-apps-empty-add-icon material-icons">file_upload</i>
	<div class="rm-repo-apps-empty-add-title">{% trans 'Add files' %}</div>
	<!-- TODO: Make this translatable properly -->
	<div class="rm-repo-apps-empty-add-description-first">
		<span class="rm-dng-text" hidden>{% trans 'Drag and drop screenshots' %}</span>
	</div>
	<div class="rm-repo-apps-empty-add-description-second">
		<span class="rm-dng-text" hidden>{% trans 'or' %}</span>
		<label for="id_screenshots" class="rm-repo-apps-empty-add-upload-browse">{% trans 'browse to upload' %}</label>
		{{ form.screenshots }}
	</div>
	{{ form.screenshots.errors }}
</div>
<div id="rm-dnd-holder--screenshots--loading" class="rm-app-screenshot-drop--loading" hidden>
	<div class="rm-dnd-progress mdl-js-progress"></div>
	<h3 id="rm-dnd-holder--screenshots--loading-title" class="rm-app-screenshot-drop--loading-title"></h3>
</div>
{% endblock screenshot-drop %}


{% block screenshot-delete %}
<a href="{% url 'screenshot_delete' app.repo.id app.id screenshot.id %}"
   class="rm-app-screenshot-delete rm-no-underline">
	<button type="button" class="mdl-button mdl-js-button rm-button--red">
		<i class="material-icons">delete</i>
	</button>
</a>
{% endblock screenshot-delete %}


{% block description %}
{{ form.description }}
{% endblock description %}


{% block apk-drop %}
<div id="rm-dnd-holder--apks" class="rm-app-versions-drop rm-form">
	<i class="rm-repo-apps-empty-add-icon material-icons">file_upload</i>
	<div class="rm-repo-apps-empty-add-title">{% trans 'Add files' %}</div>
	<!-- TODO: Make this translatable properly -->
	<div class="rm-repo-apps-empty-add-description-first">
		<span class="rm-dng-text" hidden>{% trans 'Drag and drop .apk files' %}</span>
	</div>
	<div class="rm-repo-apps-empty-add-description-second">
		<span class="rm-dng-text" hidden>{% trans 'or' %}</span>
		<label for="id_apks" class="rm-repo-apps-empty-add-upload-browse">{% trans 'browse to upload' %}</label>
		{{ form.apks }}
	</div>
</div>
<div id="rm-dnd-holder--apks--loading" class="rm-app-versions-drop--loading" hidden>
	<div class="rm-dnd-progress mdl-js-progress"></div>
	<h3 id="rm-dnd-holder--apks--loading-title" class="rm-app-versions-drop--loading-title"></h3>
</div>
{% endblock apk-drop %}


{% block apk-delete %}
<span class="mdl-list__item-secondary-action">
	<a href="{% url 'apk_delete' app.repo.id app.id pointer.id %}"
	   class="rm-no-underline">
	<button type="button" class="mdl-button mdl-js-button rm-button--red-border">
		<i class="material-icons">delete</i>
	</button>
</a>
</span>
{% endblock apk-delete %}


{% block prev-url %}{{ app.get_previous.get_edit_url }}{% endblock %}

{% block next-url %}{{ app.get_next.get_edit_url }}{% endblock %}


{% block page-footer %}
</form>
<script src="{% static 'maker/js/app/edit.js' %}"></script>
{% endblock page-footer %}
