{% extends "maker/base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Add App' %}{% endblock %}


{% block rm-content %}
<div class="mdl-grid rm-grid--full-width rm-grid--center">
	<div class="mdl-cell mdl-cell--8-col" style="text-align:center">
		<h2>
			{% blocktrans with app=app.name repo=repo.name trimmed %}
			Add {{ app }} to {{ repo }}
			{% endblocktrans %}
		</h2>

		{% if app.summary %}
		<p>{{ app.summary }}</p>
		{% endif %}

		<p>{{ app.description|safe }}</p>
	</div>
</div>

<p></p>

<div class="rm-form">
	<form action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<input type="submit" value="{% blocktrans with repo=repo.name %}Add App to {{ repo }}{% endblocktrans %}"/>
	</form>
</div>

<p></p>
{% endblock rm-content %}
