{% extends "maker/base_modal.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Delete Screenshot' %}{% endblock %}


{% block rm-content %}
<div class="rm-form mdl-grid rm-grid--center">

	<div class="mdl-cell mdl-cell--6-col center">

		<p>
			{% blocktrans with app=object.app %}
			Are you sure you want to delete this screenshot from your app <strong>{{ app }}</strong>?
			{% endblocktrans %}
		</p>

		<img src="{{ object.file.url }}" style="max-height: 500px;"/>

		<p></p>

		<form action="" method="post">
			{% csrf_token %}
			<input type="submit" value="{% trans 'Confirm' %}"/>
		</form>
	</div>

</div>
{% endblock rm-content %}
