{% extends "maker/storage/detail_ssh_key.html" %}
{% load i18n %}

{% block ssh_help_text %}
<p>
	{% blocktrans trimmed %}
	Please make sure to add this public SSH key to your Git account for the upload to work.
	There are instructions for
	<a href="https://docs.gitlab.com/ee/gitlab-basics/create-your-ssh-keys.html#how-to-create-your-ssh-keys">Gitlab</a>
	and
	<a href="https://help.github.com/articles/adding-a-new-ssh-key-to-your-github-account/">GitHub</a>.
	{% endblocktrans %}
</p>
<p>
	{% blocktrans trimmed %}
	Also, please make sure that the master branch of your repository is <b>not protected</b> from force pushing.
	{% endblocktrans %}
</p>
{% endblock ssh_help_text %}

{% block storage_details %}
<li class="mdl-list__item mdl-list__item--two-line">
		<span class="mdl-list__item-primary-content">
			<i class="material-icons mdl-list__item-icon">public</i>
			<span>{% trans 'Git Repository SSH Address' %}</span>
			<span class="mdl-list__item-sub-title">
				{{ storage.get_remote_url }}
			</span>
		</span>
</li>
{% endblock storage_details %}
