<div class="mdl-cell mdl-cell--4-col fdroid-icon">
	<img src="f-droid.png"/>
</div>
<div class="mdl-cell mdl-cell--8-col fdroid-text">
	<p>Use F-Droid to install apps and ensure access to app updates.</p>

	<p>
		F-Droid is an independent, community-sourced app store.
		Adding a repo to  F-Droid makes the apps within it available for download
		and ensures that you have access to secure app updates.
	</p>
	<p>
		Download F-Droid at <a href="https://f-droid.org">f-droid.org</a>.
	</p>
</div>
