/*
 * General Repomaker Styles
 */

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.rm-header, .rm-header a {
    overflow: visible;
    background-color: #39414a;
    color: white;
}

.rm-header--light, .rm-header--light a {
    background-color: white;
    color: #767777;
}

.rm-header .mdl-layout__drawer-button {
    background: transparent;
}

.rm-header--light .mdl-layout__drawer-button {
    color: #767777;
}

.rm-header .mdl-navigation__link, .rm-title a, .rm-toolbar-item {
    font-weight: 700;
}

.rm-logo {
    font-weight: 500;
    text-transform: uppercase;
    @include font-size(17px);
    width: 100%;
    text-align: center;
}

.rm-title {
    display: inline-flex;
    vertical-align: middle;
}

.rm-toolbar-action-left {
    color: white;
    text-decoration: none;
    align-items: flex-start;
    display: flex;
    flex-grow: 2;
    flex-flow: column;
}

.rm-header--light .rm-toolbar-action-left {
    color: #767777;
}

.rm-toolbar-item {
    display: inline-flex;
    vertical-align: middle;
    text-decoration: none;
    margin: 20px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    // active tab bottom bar height
    height: 3pt;
}

.rm-button, .rm-button--blue, .rm-button--red, .rm-button--red-border {
    @extend .mdl-button;
    font-size: 12px;
    background: none;
    border: thin solid #4a4a4a;
    border-radius: 25px;
}

.rm-button:hover {
    background: #f2f2f2;
}

.rm-button--blue {
    background-color: $rm-blue;
    border: thin solid $rm-blue;
    color: white;
    transition: background-color 0.2s ease;
}

.rm-button--blue:hover {
    background-color: #0079f2;
}

.rm-button--red {
    @extend .rm-button;
    color: white;
    background-color: $rm-red;
    border: thin solid $rm-red;
}

.rm-button--red-border {
    @extend .rm-button;
    color: $rm-red;
    border: thin solid $rm-red;
}

.rm-button--red:hover {
    background: #EE2E06;
}

.rm-button--red-border:hover {
    @extend .rm-button:hover;
}

.rm-toolbar-account {
    @extend .mdl-navigation__link;
    font-weight: 400;
    padding: 0 6px;
}

.rm-site-notice {
    padding: 1em;
    background-color: yellow;
    text-align: center;
}

.rm-content {
	margin: 0px;
}

.center {
    text-align: center;
}

.rm-grid--center {
    justify-content: center;
}

.rm-grid--full-width {
    width: 100%;
}

a.rm-no-underline {
	text-decoration: none;
	color: unset;
}

.mdl-layout-title a, a.material-icons, .mdl-list__item a {
	text-decoration: none;
	color: unset;
}

.rm-icon {
    height: $rm-icon-size;
    width: $rm-icon-size;
}

.rm-icon--large {
    height: $rm-icon-size-large;
    width: $rm-icon-size-large;
}

.rm-pagination {
     background-color: #f6f6f6;
     color: rgb(117,117,117);
     @include font-size(18px);
     padding: 50px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;

     a, span {
         @extend .rm-no-underline;
         height: 24px;
         width: 24px;
         line-height: 24px;
         padding: 8px;
         text-align: center;
         border-radius: 50%;
         margin-right: 3px;
     }

     a:hover {
         background-color: #d6d6d6;
     }

     .active {
         background-color: $rm-blue;
         color: white;
     }
 }

.error {
    color: rgb(213,0,0);
}

/*
 * Drag and drop
 */
.rm-dnd-hover {
    background-color: #F6F8FC;
    outline: 3px solid #005abd;
}

.rm-dnd--loading {
    border: none !important;
    padding: 0 !important;
}

.rm-dnd--loading-title {
    color: black;
    @include font-size(18px);
}

.rm-dnd-progress {
    @extend .mdl-progress;
    width: 100%;
}
